doctype html 
html
  head
    title Natours
    link(rel='stylesheet' href='css/style.css')
    link(rel='icon' type='image/png' href='img/favicon.png')

  body
    //- block content
    h1 The Park Camper
    p This is just some text
    //- img(src="img/favicon.png", alt="", height="100px", width="100px") 
